CREATE TABLE Users (
	Pseudo VARCHAR(25) NOT NULL UNIQUE,
	[Money] bigint NOT NULL DEFAULT 0,
	[Password] VARCHAR(50) NOT NULL,
	[Email] VARCHAR(200) NOT NULL,
	IP VARCHAR(50) NOT NULL

	CONSTRAINT PK_Pseudo PRIMARY KEY (Pseudo)
);
GO
CREATE TABLE LogsInGame (
	Pseudo VARCHAR(25) NOT NULL,
	TextLogs VARCHAR(500) NOT NULL

	CONSTRAINT FK_Pseudo FOREIGN KEY (Pseudo) REFERENCES Users(Pseudo)
);
